.Card{
    display: flex;
    flex: 1;
    border-radius: 0.7rem;
    position: relative;
    /* color: white; */
    background-color: white;
    cursor: pointer;
}

.CardDetails{
    width: 60%;
}
.CardChart{
    padding-left: 1vh;
}
.CardChart .CircularProgressbar {
    margin-top: 40px;
    height:15vh!important;
 }