/* 75e091 */

.totalAttnContainer{
    margin: 1vh;
    padding: 2vh;
    background-color: white;
    border-radius: 20px;
    height: 30vh;
    width: 60vh;
    display: flex;
}
.totalAttnSubContainer{
    width: 60%;
}
.totalAttnContainer .CircularProgressbar {
   margin-top: 30px;
   height:20vh!important;
}

/* Data */
.totalAttnData{
    margin: 30px 0 0 0px;
    justify-content: center;
    text-align: center;
}
.totalAttnDataPresent{
    font-size: 40px;
    font-weight: 700;
}
.totalAttnDataTotal{    
    font-size: 18px;
}
