/* 75e091 */

.totalAttnContainer{
    margin: 1vh;
    padding: 2vh;
    background-color: white;
    border-radius: 20px;
    height: 30vh;
    width: 60vh;
    display: flex;
}
.totalAttnChart{
    width: 60%;
}
.CircularProgressbar {
   margin-top: 15px;
   height:20vh!important;
}
